@import "../style/extra";

.results {
    display: flex;
    justify-content: center;
}

.result {
    display: block;
    width: 50%;
    background-color: $green;
    border-radius: 1em;
    padding: 1em;
}

.horses {
    display: flex;
    justify-content: center;
}

.horseResult {
    display: flex;
    width: 50%;
    flex-direction: row;
    justify-content: space-between;
}